<%- include('../layouts/userHeader') %>


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Shop</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <!-- Price filter -->
<div class="row">
  <div class="col-md-3 offset-md-2">
      <div class="form-group">
          <label for="priceFrom">Price from:</label>
          <div class="form-field">
              <i class="icon icon-arrow-down3"></i>
              <select name="priceFrom" id="priceFrom" class="form-control">
                  <option value=""></option>
                  <option value="1">1</option>
                  <option value="100">100</option>
                  <option value="200">200</option>
                  <!-- Add more price options as needed -->
              </select>
          </div>
      </div>
  </div>
  <div class="col-md-3 offset-md-1" >
      <div class="form-group">
          <label for="priceTo">Price to:</label>
          <div class="form-field">
              <i class="icon icon-arrow-down3"></i>
              <select name="priceTo" id="priceTo" class="form-control">
                  <option value=""></option>
                  <option value="300">300</option>
                  <option value="500">500</option>
                  <option value="1000">1000</option>
                  <!-- Add more price options as needed -->
              </select>
          </div>
      </div>
  </div>
  <div class="col-md-12">
      <div class="form-group">
        <button type="button" id="filterButton" class="btn btn-dark btn-block" onclick="applyFilter()">APPLY</button>
      </div>
  </div>
</div>


        

       <!-- Product items dynamically rendered based on products fetched from the server -->
<div class="row product-lists">
    <% productData.forEach(product => { %>
      <div class="col-lg-4 col-md-6 text-center <%= product.category %>">
        <!-- Wrap the entire product item with an anchor tag -->
        <a href="/singleProduct?productId=<%= product._id %>" class="single-product-link">
          <div class="single-product-item">
            <div class="product-image">
              <img src="<%= product.image[0] %>" alt="">
            </div>
            <h3><%= product.name %></h3>
            <% const categoryOffer = categoriesWithOffer.some(cat => cat._id.equals(product.category)&& new Date(cat.expiryDate) >= new Date()); %>

            <% if (categoryOffer) { %>
              
                <!-- Display offer sticker for the entire category added styles in css (public/css) -->
                <div class="offer-sticker">
                  <i class="lni lni-offer p-1" style="color: rgb(236, 225, 226); font-size: 22px;"></i>
                  <span class="pl-2" style="color: rgb(237, 221, 222); font-size: 24px;">Category Offer!</span>
                </div>
                <p class="product-price"><span>Per Kg</span> ₹<%= product.price %> </p>
              <% }else if (product.offer > 0) { %> 

            
                <% const currentDate = new Date(); %>
                <% const expiryDate = new Date(product.expiryDate); %>
                
                <!-- Set hours to the end of the day -->
                <% expiryDate.setHours(23, 59, 59, 999); %>
  
                <% if (currentDate <= expiryDate) { %>
                <!-- Display offer information if the product has an offer -->
                <div class="offer-section d-flex align-items-center justify-content-center">
                  <i class="lni lni-offer p-1" style="color: rgb(234, 9, 16); font-size: 22px;"></i>
                  <span class="pl-2" style="color: rgb(255, 0, 17); font-size: 24px;">Special offer of ₹<%= product.offer %></span>
                </div>
                <!-- Display discounted price -->
                <p class="product-price"><span>Per Kg</span> ₹<%= product.discountPrice %> </p>
              <% } else { %>
                <!-- Display original price when there is no offer -->
                <p class="product-price"><span>Per Kg</span> ₹<%= product.price %> </p>
              <% } %>
              <% } else { %>
                <!-- Display original price when there is no offer -->
                <p class="product-price"><span>Per Kg</span> ₹<%= product.price %> </p>
              <% } %>
            <p><a href="/singleProduct?productId=<%= product._id %>" class="product-details-link">View Details</a></p>
           
          </div>
        </a>
      </div>
    <% }); %>
  </div>
  
          

  <div class="row">
    <div class="col-lg-12 text-center">
        <div class="pagination-wrap">
            <ul>
                <% if (currentPage > 1) { %>
                    <li><a href="/shop?page=<%= currentPage - 1 %>">Prev</a></li>
                <% } %>
                
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <li <% if (currentPage === i) { %>class="active"<% } %>><a href="/shop?page=<%= i %>"><%= i %></a></li>
                <% } %>

                <% if (currentPage < totalPages) { %>
                    <li><a href="/shop?page=<%= currentPage + 1 %>">Next</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>

    </div>
</div>
<!-- end products -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->

<script>
  // document.getElementById('filterButton').addEventListener('click', applyFilter);
  function applyFilter() {
    console.log("inside the apply filter");
      var priceFrom = document.getElementById('priceFrom').value;
      var priceTo = document.getElementById('priceTo').value;
      var currentUrl = window.location.href;
      var updatedUrl = currentUrl + `?priceFrom=${priceFrom}&priceTo=${priceTo}`;
      console.log(updatedUrl,"updated url");
      window.location.href = updatedUrl;
  }
</script>

<%- include('../layouts/userfooter') %>
