<%- include('../layouts/userHeader') %>


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Shop</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- Product filters based on categories fetched from the server -->
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <% Categories.forEach(category => { %>
                            <li data-filter=".<%= category %>"><%= category.name %></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>

       <!-- Product items dynamically rendered based on products fetched from the server -->
<div class="row product-lists">
    <% productData.forEach(product => { %>
      <div class="col-lg-4 col-md-6 text-center <%= product.category %>">
        <!-- Wrap the entire product item with an anchor tag -->
        <a href="/singleProduct?productId=<%= product._id %>" class="single-product-link">
          <div class="single-product-item">
            <div class="product-image">
              <img src="<%= product.image[0] %>" alt="">
            </div>
            <h3><%= product.name %></h3>
            <% const categoryOffer = categoriesWithOffer.some(cat => cat._id.equals(product.category)&& new Date(cat.expiryDate) >= new Date()); %>

            <% if (categoryOffer) { %>
              
                <!-- Display offer sticker for the entire category added styles in css (public/css) -->
                <div class="offer-sticker">
                  <i class="lni lni-offer p-1" style="color: rgb(236, 225, 226); font-size: 22px;"></i>
                  <span class="pl-2" style="color: rgb(237, 221, 222); font-size: 24px;">Category Offer!</span>
                </div>
              <% }else if (product.offer > 0) { %> 

            
                <% const currentDate = new Date(); %>
                <% const expiryDate = new Date(product.expiryDate); %>
                
                <!-- Set hours to the end of the day -->
                <% expiryDate.setHours(23, 59, 59, 999); %>
  
                <% if (currentDate <= expiryDate) { %>
                <!-- Display offer information if the product has an offer -->
                <div class="offer-section d-flex align-items-center justify-content-center">
                  <i class="lni lni-offer p-1" style="color: rgb(234, 9, 16); font-size: 22px;"></i>
                  <span class="pl-2" style="color: rgb(255, 0, 17); font-size: 24px;">Special offer of ₹<%= product.offer %></span>
                </div>
                <!-- Display discounted price -->
                <p class="product-price"><span>Per Kg</span> ₹<%= product.discountPrice %> </p>
              <% } else { %>
                <!-- Display original price when there is no offer -->
                <p class="product-price"><span>Per Kg</span> ₹<%= product.price %> </p>
              <% } %>
              <% } else { %>
                <!-- Display original price when there is no offer -->
                <p class="product-price"><span>Per Kg</span> ₹<%= product.price %> </p>
              <% } %>
            <p><a href="/singleProduct?productId=<%= product._id %>" class="product-details-link">View Details</a></p>
           
          </div>
        </a>
      </div>
    <% }); %>
  </div>
  
          

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->

<%- include('../layouts/userfooter') %>
